.App {
  font-family: "Courier New", monospace;
	position:relative;
	z-index:2;
	color:#fff;
}

.Header {
  font-family: "Courier New", monospace;
	position:relative;
	z-index:2;
	color:#fff;
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* .content-background {
  width: 100%;
  height: 800px;
	position:relative;
  padding:15px;
} */

.NavBar {
  font-size: 20px !important;
}


.blurred-img {
  background-image: url("./resources/new-york-1.jpg");
  position:absolute;
  background-color: white;
  filter: brightness(0) invert(1);
	left:0;
	right:0;
	top:0;
  bottom:0;
	background-size:cover;
	z-index:0;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

h1 {
  font-weight: normal;
  font-size: 42px;
}

.heading {
  list-style: none;
  padding: 0;
  font-size: 32px;
  margin-bottom: 2em;
}

.cardHeaders {
  font-size: 10px;
}

#root {
  height: 100%;
}

.ant-tabs-content {
  height: 100%;
}

/* div #root {
  height: 100%;
} */

/* .Header {
  width: 100%;
  font-family: "Courier New", monospace;
  position: fixed;
  z-index: 2;
  color: #fff;
} */